.logo {
    width: 200px;
}

.navbar-container {
    background-color: white;
    padding: 12px 0;
    display: flex;
    justify-content: center;
}

a   {
    font-size: 20px;
    text-decoration: none;
    color: black;

}
.navbar-items {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 52px;
}
.navbar-items a:hover {
    color: rgb(75, 138, 227);
}

.navbar {
    list-style: none;
    display: flex;


}
