.Profile_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.description {
    font-size: 0.925rem;
}

.tech {
    font-size: 0.725rem;
    margin-bottom: 0.5rem;
}
