
.profile_card {
    border-radius: 25px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    height: 700px;
    width: 450px;
    transition: all 0.3s;
    overflow: hidden;
    font-family: "Stack Sans Headline", sans-serif;
}

.info {
    padding: 14px;
}

.tech {
    margin-top: 10px;
}

.title {
    margin-bottom: 10px;
    
}
.image {
    width: 100%;
    height: 45%;
    border-radius: 25px 25px 0px 0px;
    transition: transform 0.5s ;
    object-fit: cover;
    object-position: center;
}

.profile_card:hover .image{
    transform: scale(1.1);
}

.profile_card:hover {
    transform: translateY(-8px);
}

.link {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.link:hover {
    color: blue;
}

/* Fonts */


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.btn-details {
    width: 100px;
    height: 50px;
    background-color: rgb(208, 181, 234);
    border-radius: 8px;
    border-style: none;
}

.btn-details:hover {
    cursor: pointer;
    background-color: rgba(183, 131, 231, 0.932);
    border-style: black;

}